[submodule "tronlang examples"]
	path = examples
	url = https://github.com/418e/tron-examples.git
[submodule "tronlang extension"]
	path = extension
	url = https://github.com/418e/tron-extension.git
[submodule "doc.tronlang.org"]
	path = documentation
	url = https://github.com/418e/tron-documentation.git
[submodule "tronlang.org"]
	path = website
	url = https://github.com/418e/tronlang.org.git
[submodule "tron-documentation"]
	path = tron-documentation
	url = https://github.com/418e/tron-documentation.git
